# Auto detect text files and perform LF normalization
* text=auto
LongchangCui_Tertris.sln filter=lfs diff=lfs merge=lfs -text
Packages filter=lfs diff=lfs merge=lfs -text
PsdPlugin.csproj filter=lfs diff=lfs merge=lfs -text
Unity.2D.Animation.Triangle.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InternalAPIEditorBridge.001.csproj filter=lfs diff=lfs merge=lfs -text
desktop.ini filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
Tetris_TouchTutorial.png filter=lfs diff=lfs merge=lfs -text
Unity.2D.Animation.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.2D.Psdimporter.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.VSCode.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp.csproj filter=lfs diff=lfs merge=lfs -text
Unity.2D.Animation.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.2D.PixelPerfect.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.2D.PixelPerfect.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Rider.Editor.csproj filter=lfs diff=lfs merge=lfs -text
AndroidBuild filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-firstpass.csproj filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
UniRx.csproj filter=lfs diff=lfs merge=lfs -text
Unity.2D.SpriteShape.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.CollabProxy.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.Timeline.csproj filter=lfs diff=lfs merge=lfs -text
UnityEngine.TestRunner.csproj filter=lfs diff=lfs merge=lfs -text
ProjectSettings filter=lfs diff=lfs merge=lfs -text
Unity.Mathematics.csproj filter=lfs diff=lfs merge=lfs -text
Unity.2D.Common.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.2D.Path.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Logs filter=lfs diff=lfs merge=lfs -text
Unity.TextMeshPro.Editor.csproj filter=lfs diff=lfs merge=lfs -text
UnityEditor.TestRunner.csproj filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
UniRx.Examples.csproj filter=lfs diff=lfs merge=lfs -text
Unity.2D.Common.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Unity.2D.SpriteShape.Runtime.csproj filter=lfs diff=lfs merge=lfs -text
Unity.InternalAPIEngineBridge.001.csproj filter=lfs diff=lfs merge=lfs -text
obj filter=lfs diff=lfs merge=lfs -text
